*{
    margin:0;
    padding: 0;
    border: none;
}

/* landing page */

/* logo and menu*/

#logo{
    float:left;
    margin-left: 100px;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 2px;
}

#menu{
font-family: 'Cairo', sans-serif;
font-size: 120%;
}

#menu ol{
    display: flex;
    flex-direction: row;
    float:right;
    margin-right: 150px;
}

#menu li{
    list-style-type: none;
    letter-spacing: 2px;
    margin-right: 25px; 
}

#menu, #logo{
    line-height: 85px;
    height: 100px;
}

#menu a{
    text-decoration: none;
    color: black;
}

#menu a:hover{
    border-bottom: 1px solid black;
    color: rgb(228, 58, 58);
}

/* image-section */

#image-outer{
    height:600px;
    width:100%;
    overflow:hidden;
    position:relative;
}

#image-main{
    height: 600px;
    width:100%;
    background:url(../assets/images/bjj-class-large.jpg) no-repeat center center;
    background-size:cover;
}

/* homepage */

#arrival-info{
    height: 400px;
}

#club-info{
    text-align: center;
    margin-top: 150px;
}

#club-info h1{
    font-family:'Cairo', sans-serif;
    font-size: 300%;
    letter-spacing: 2px;
}

#club-info p{
    font-family: 'Mohave', sans-serif;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 150%;
    letter-spacing: 2px;
}

#club-info hr{
    border-bottom: 1px solid lightgray;
    width: auto;
    margin-top: 5px;
}

/* page-links */

#page-links{
    width:100%;
    height:400px;
    display: inline-flex;
    margin-bottom: 10%;
    justify-content: space-evenly;
}

#classes-link{
    width:450px;
    float: left;
    clear: both;
    height:500px;
    text-align: center;
    letter-spacing: 2px;
}

#timetable-link{
    width:450px;
    float: center;
    clear: both;
    height:500px;
    text-align: center;
    letter-spacing: 2px; 
}

#contact-us-link{
    width: 450px;
    float: right;
    clear: both;
    height:500px;
    text-align: center;
    letter-spacing: 2px;
}

#page-links img{
    height: 500px;
    width:90%;
    border-radius: 5px;
}

#page-links a{
    text-decoration: none;
    color: black;
    font-family: 'Mohave', sans-serif;
    font-size: 150%;
    letter-spacing: 2px;
    text-align: center; 
}

#page-links a:hover{
    border-bottom: 1px solid black;
    color: rgb(228, 58, 58);
}

/* footer */

footer{
    height: 50px;
    display: flex;
    justify-content: center;
}

.social-media > li {
    display: inline;
}

.social-media i{
    font-size: 200%;
    color: black;
    padding: 15px;
    margin-bottom: 20px;
}

.social-media i:hover{
    color: rgb(228, 58, 58);
}

/* classes page */

#first-section{
    height:500px;
    width:100%;
    display: inline-flex;
    justify-content: space-evenly;
}

#bjj img{
    height: 500px;
    width:500px;
    float: left;
    border-radius: 5px;
}

#bjj p{
    height: 500px;
    width: 500px;
    float:right;
    font-family: 'Mohave', sans-serif;
    letter-spacing: 1px;
    font-size: 100%;
    text-align: center;
    margin-top: 100px;
    margin-left: 30px;
}

#second-section{
    height:500px;
    width:100%;
    display: inline-flex;
    justify-content: space-evenly;
}

#grappling-image img{
    height: 500px;
    width: 500px;
    float: right;
    border-radius: 5px;
}

#grappling-image p{
    height: 500px;
    width: 500px;
    float:left;
    font-family: 'Mohave', sans-serif;
    letter-spacing: 1px;
    font-size: 100%;
    text-align: center;
    margin-top: 100px;
    margin-right: 30px;
}

#third-section{
    height:500px;
    width:100%;
    margin-bottom: 50px;
    display: inline-flex;
    justify-content: space-evenly;
}

#judo img{
    height: 500px;
    width: 500px;
    float: left;
    border-radius: 5px;
}

#judo p{
    height:500px;
    width: 500px;
    float:right;
    font-family: 'Mohave', sans-serif;
    letter-spacing: 1px;
    font-size: 100%;
    text-align: center;
    margin-top: 120px;
    margin-left: 30px;
}

/* timetable */

#outer-section{
    height: 400px;
    width: 100%;
    margin-top: 70px;
}

#inner-section{
    height: 500px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    letter-spacing: 1px;
}

#outer-section h2{
    text-align: center;
    font-family:'Cairo', sans-serif;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

#timetable-header, #timetable-body{
    display: table-row-group;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 100%;
}

#timetable-header{
    font-family: 'Cairo', sans-serif;
    background-color: lightgray;
}

#timetable-body{
    font-family: 'Mohave', sans-serif;
}

#timetable-body td{
    border-top: 1px solid lightslategray;
    padding: 10px;
}

#description{
    text-align: center;
    letter-spacing: 1.5px;
    margin-bottom: 50px;
    padding:10px;
    font-size: 18px;
}

#description h2{
    font-family: 'Cairo', sans-serif;
}

#description p{
    font-family: 'Mohave', sans-serif;
}

/* contact-us */

/* form */

#form-layout{
    height:400px;
    width:100%;
   display: flex;
   justify-content:space-evenly;
    font-family: 'Mohave', sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-top: 70px;
}

#form-layout img{
    height: 380px;
    width: auto;
    border-radius: 5px;
}

#form-section h1{
    font-family: 'Cairo', sans-serif;
    font-size: 350%;
    letter-spacing: 1.5px;
    margin-top: 100px;
    text-align: center;
}

#form-section p{
    font-family: 'Mohave', sans-serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
    text-align: center;
}


#your-name, #email{
    border-bottom: 1px solid lightgray;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

#your-name:hover, #email:hover, #form-section textarea:hover{
    border-bottom: 1px solid black;
}

#form-layout textarea{
    height:150px;
    width:250px;
    font-family: 'Mohave', sans-serif;
    border-bottom: 1px solid lightgray;
}

#submit{
    font-family: 'Mohave', sans-serif;
    font-size: 15px;
    background-color: black;
    color: white ;
    height: 40px;
    width: 80px;
    border-radius: 5px;
}

#submit:hover{
    background-color: rgb(228, 58, 58) ;
    color: black;
    border: black solid 1px;
}

/* video */

#video-section{
    height: 500px;
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* media queries */

@media screen and (max-width:1080px) {
    #menu{
        width: 100%;
        float: left;
    }
    #menu ol{
        float: left;
        clear: left;
        margin-left: 100px;
    }

    #menu li{
        float: left;
    }

    /* landing page */

    #image-outer{
        height:400px;
    }

    #page-links{
        width:100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 80%;
        align-items: center;
    }

    #classes-link img{
        height: 80%;
    }

    #timetable-link img{
        height:80%;
    }

    #contact-us-link{
        height: 80%;
    }

    /* classes-page */

    #first-section{
        width:100%;
        display: inline;
    }

    #bjj img, #bjj p{
        width:48%;
    }

    #bjj p{
        margin-right: 30px;
        margin-left: 0;
    }

    #second-section{
        width:100%;
    }

    #second-section img, #second-section p{
        width:48%;
    }

    #third-section{
        width: 100%;
    }

    #judo img, #judo p{
        width:48%;
    }

    /* timetable page */

    #outer-section{
        overflow: scroll;
        flex-direction: column;
    }

    table{
        width: 100%;
        font-size: 100%;
    }

    /* contact-us page */

    #form-section{
        width: 100%;
    }

    #form-section p{
        font-size: 160%;
    }
}

@media screen and (max-width:800px){

    /* landing page */

    /* navbar */
    
    #logo{
        margin-left: 0;
        font-size: 200%;
        width: 100%;
        text-align: center;
     }
 
     #menu{
         margin-right: 0;
         line-height: 0;
         height: 60px;
         margin-top: 3%;
         width: 100%;
         font-size: 125%;
     }
 
     #menu ol{
         font-size: 80%;
         margin-left: 0;
         margin-right: 0;
         display: inline-flex;
         width: 100%;
         justify-content: space-evenly;
     }
 
     #menu li{
         display: contents;
     }

    #arrival-info {
        height: 400px;
        width: 100%;
        display: contents;
    }

    #arrival-info p{
        display: contents;
    }

    #page-links{
        margin-top: 15px;
    }

    /* classes */

    #first-section{
        width: fit-content;
        text-align: center;
        display: flex;
        height: 525px;
    }

    #bjj img{
        height: 60%;
        width: 80%;
        float: none;
    }

    #bjj p{
        height:0;
        margin-top: 0;
        margin-right: 0;
        width:auto;
        letter-spacing: 0;
    }

    #second-section{
        width: fit-content;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 525px;
    }

    #grappling-image img{
        height: 80%;
        width: 80%;
        float: none;
    }

    #grappling-image p{
        height:0;
        margin-top: 0;
        margin-right: 0;
        width:auto;
        letter-spacing: 0;
    }

    #third-section{
        width: fit-content;
        text-align: center;
        display: flex;
        flex-direction: column;
        height:525px;
    }

    #judo img{
        height: 80%;
        width: 80%;
        float: none;
    }

    #judo p{
        height:0;
        margin-top: 0;
        margin-left: 0;
        width:auto;
        letter-spacing: 0;
    }

    /* timetable */

    #inner-section{
        display: flex;
        justify-content: flex-start;
    }

    /* contact us */
    #form-layout{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 800px;
    }
 
}
