*{
    margin:0;
    padding: 0;
    border: none;
}


/* logo and menu*/

#logo{
    float:left;
    margin-left: 100px;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 2px;
}

#menu{
margin-right: 150px;
font-family: 'Cairo', sans-serif;
font-size: 120%;

}

#menu li{
    list-style-type: none;
    float:right;
    letter-spacing: 2px;
    margin-right: 25px;
    
}

#menu, #logo{
    line-height: 85px;
}

#menu a{
    text-decoration: none;
    color: black;
}

#menu a:hover{
    border-bottom: 1px solid black;
    color: lightslategray;
}

/* image-section */

#image-outer{
    height:600px;
    width:100%;
    overflow:hidden;
    position:relative;
}

#image-main{
    height: 600px;
    width:100%;
    background:url(../assets/images/bjj\ class.jpg) no-repeat center center;
}

/* homepage */

#arrival-info{
    height: 600px;
}

#club-info{
    text-align: center;
    margin-top: 30px;
}

#club-info h1{
    font-family:'Cairo', sans-serif;
    font-size: 50px;
}

#club-info p{
    font-family: 'Mohave', sans-serif;
    margin-left: 150px;
    margin-right: 150px;
}

/* footer */

footer{
 height: 150px;
 position: fixed;
 margin-top: 875px;
 margin-left: 850px;
}


.social-media > li{
  display: inline;
}

.social-media i{
  color: black;
  font-size: 30px;
  padding:5px;

}

.social-media i:hover{
  border-bottom: 1px solid black;
    color: lightslategray;
}




