*{
    margin:0;
    padding: 0;
    border: none;
}


/* logo and menu*/

#logo{
    float:left;
    margin-left: 100px;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 2px;
}

#menu{
margin-right: 150px;
font-family: 'Cairo', sans-serif;
font-size: 120%;

}

#menu li{
    list-style-type: none;
    float:right;
    letter-spacing: 2px;
    margin-right: 25px;
    
}

#menu, #logo{
    line-height: 85px;
}

#menu a{
    text-decoration: none;
    color: black;
}

#menu a:hover{
    border-bottom: 1px solid black;
    color: lightslategray;
}

/* homepage */

#arrival-info{
    margin-top: 100px;
    float:left;
    text-align: center;
    width:100%;
}

#club-info h1{
    font-family: 'Cairo', sans-serif;
    font-size: 40px;   
}

#club-info p{
    font-family: 'Mohave', sans-serif;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 150px;
    margin-right: 150px;
}


#club-info hr{
    border-bottom: 1px solid lightgrey;   
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 5px;
}

/* slideshow */

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin:auto;
    box-sizing:border-box;
    height: 900px;
  }

  .mySlides {
    display:none;
    height: 600px;
    width: 100%;
  }  

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }