*{
    margin:0;
    padding: 0;
    border: none;
}

/* landing page */

/* logo and menu*/

#logo{
    float:left;
    margin-left: 100px;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 2px;
}

#menu{
margin-right: 150px;
font-family: 'Cairo', sans-serif;
font-size: 120%;

}

#menu li{
    list-style-type: none;
    float:right;
    letter-spacing: 2px;
    margin-right: 25px;
    
}

#menu, #logo{
    line-height: 85px;
    height: 100px;
}

#menu a{
    text-decoration: none;
    color: black;
}

#menu a:hover{
    border-bottom: 1px solid black;
    color: rgb(228, 58, 58);
}

/* image-section */

#image-outer{
    height:600px;
    width:100%;
    overflow:hidden;
    position:relative;
}

#image-main{
    height: 600px;
    width:100%;
    background:url(../assets/images/bjj\ class.jpg) no-repeat center center;
    background-size: cover;
}

/* homepage */

#arrival-info{
    height: 400px;
}

#club-info{
    text-align: center;
    margin-top: 150px;
}

#club-info h1{
    font-family:'Cairo', sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
}

#club-info p{
    font-family: 'Mohave', sans-serif;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 25px;
    letter-spacing: 2px;
}

#club-info hr{
    border-bottom: 1px solid lightgray;
    width: auto;
    margin-top: 5px;
}

/* page-links */

#page-links{
    width:100%;
    height:400px;
    display: inline-flex;
    margin-bottom: 300px;
    justify-content: space-evenly;
}

#classes-link{
    width:450px;
    float: left;
    clear: both;
    height:500px;
    text-align: center;
    letter-spacing: 2px;
}

#timetable-link{
    width:450px;
    float: center;
    clear: both;
    height:500px;
    text-align: center;
    letter-spacing: 2px; 
}

#contact-us-link{
    width: 450px;
    float: right;
    clear: both;
    height:500px;
    text-align: center;
    letter-spacing: 2px;
}

#page-links img{
    height: 500px;
    width:100%;
    border-radius: 20px;
}

#page-links a{
    text-decoration: none;
    color: black;
    font-family: 'Mohave', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    
}

#page-links a:hover{
    border-bottom: 1px solid black;
    color: rgb(228, 58, 58);
}


/* footer */

footer{
    height: 50px;
    display: flex;
    justify-content: center;
}



.social-media > li {
    display: inline;
}

.social-media i{
    font-size: 40px;
    color: black;
    padding: 15px;
    margin-bottom: 20px;
}

.social-media i:hover{
    color: rgb(228, 58, 58);
}

/* classes page */

#first-section{
    height:500px;
    width:100%;
    display: inline-flex;
    justify-content: space-evenly;
}

#bjj img{
    height: 500px;
    width:500px;
    float: left;
    border-radius: 10px;
}

#bjj p{
    height: 500px;
    width: 500px;
    float:right;
    font-family: 'Mohave', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    text-align: center;
    margin-top: 100px;
    margin-left: 30px;
}

#second-section{
    height:500px;
    width:100%;
    display: inline-flex;
    justify-content: space-evenly;
}

#grappling-image img{
    height: 500px;
    width: 500px;
    float: right;
    border-radius: 10px;

}

#grappling-image p{
    height: 500px;
    width: 500px;
    float:left;
    font-family: 'Mohave', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    text-align: center;
    margin-top: 100px;
    margin-right: 30px;
}

#third-section{
    height:500px;
    width:100%;
    margin-bottom: 50px;
    display: inline-flex;
    justify-content: space-evenly;
}

#judo img{
    height: 500px;
    width: 500px;
    float: left;
    border-radius: 10px;
}

#judo p{
    height:500px;
    width: 500px;
    float:right;
    font-family: 'Mohave', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    text-align: center;
    margin-top: 120px;
    margin-left: 30px;
}

/* timetable */



#outer-section{
    height: 500px;
    width: 100%;
  margin-top: 70px;
}

#inner-section{
    height: 500px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

#outer-section h1{
    text-align: center;
    font-family:'Cairo', sans-serif;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

#timetable-header, #timetable-body{
    display: table-row-group;
    vertical-align: middle;
    box-sizing: border-box;
    letter-spacing: 1.5px;
    font-size: 20px;
}

#timetable-header{
    font-family: 'Cairo', sans-serif;
    background-color: lightgray;
}


#timetable-body{
    font-family: 'Mohave', sans-serif;
}

#timetable-body td{
    border-top: 1px solid lightslategray;
    padding: 10px;
}

#description{
    text-align: center;
    letter-spacing: 1.5px;
    margin-bottom: 50px;
    padding:10px;
    font-size: 18px;
}

#description h2{
    font-family: 'Cairo', sans-serif;
}

#description p{
    font-family: 'Mohave', sans-serif;

}

/* contact-us */

/* form */

#form-layout{
    height:400px;
    width:100%;
   display: flex;
   justify-content: center;
    font-family: 'Mohave', sans-serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-top: 70px;
}

#form-section h1{
    font-family: 'Cairo', sans-serif;
    font-size: 60px;
    letter-spacing: 1.5px;
    display: flex;
   justify-content: center;
   margin-top: 100px;
}

#form-section p{
    font-family: 'Mohave', sans-serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    display: flex;
   justify-content: center;
   text-align: center;
}


#fname, #lname, #email{
    border-bottom: 1px solid lightgray;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

#fname:hover, #lname:hover, #email:hover{
    border-bottom: 1px solid black;
}


#submit{
    font-family: 'Mohave', sans-serif;
    font-size: 25px;
    background-color: black;
    color: white;
    height: 50px;
    width: 90px;
}

#submit:hover{
    background-color:rgb(228, 58, 58) ;
    color: white;
}


/* video */

#video-section{
    height: 500px;
    width:100%;
    display: flex;
    justify-content: center;
}




