*{
    margin:0;
    padding: 0;
    border: none;
}

* {box-sizing:border-box}


/* logo and menu*/

#logo{
    float:left;
    margin-left: 100px;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 2px;
}

#menu{
margin-right: 150px;
font-family: 'Cairo', sans-serif;
font-size: 120%;

}

#menu li{
    list-style-type: none;
    float:right;
    letter-spacing: 2px;
    margin-right: 25px;
    
}

#menu, #logo{
    line-height: 85px;
}

#menu a{
    text-decoration: none;
    color: black;
}

#menu a:hover{
    border-bottom: 1px solid black;
    color: lightslategray;
}

/* homepage */

#arrival-info{
    margin-top: 100px;
    float:left;
    text-align: center;
    width:100%;
}

#club-info h1{
    font-family: 'Cairo', sans-serif;
    font-size: 40px;   
}

#club-info p{
    font-family: 'Mohave', sans-serif;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 150px;
    margin-right: 150px;
}


#club-info hr{
    border-bottom: 1px solid lightgrey;   
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 5px;
}
