*{
    margin:0;
    padding: 0;
    border: none;
}


/* logo and menu*/

#logo{
    float:left;
    margin-left: 100px;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 2px;
}

#menu{
margin-right: 150px;
font-family: 'Cairo', sans-serif;
font-size: 120%;

}

#menu li{
    list-style-type: none;
    float:right;
    letter-spacing: 2px;
    margin-right: 25px;
    
}

#menu, #logo{
    line-height: 85px;
}

#menu a{
    text-decoration: none;
    color: black;
}

#menu a:hover{
    border-bottom: 1px solid black;
    color: lightslategray;
}

/* image-section */

#image-outer{
    height:600px;
    width:100%;
    overflow:hidden;
    position:relative;
}

#image-main{
    height: 600px;
    width:100%;
    background:url(../assets/images/bjj\ class.jpg) no-repeat center center;
    background-size: cover;
}

/* homepage */

#arrival-info{
    height: 600px;
}

#club-info{
    text-align: center;
    margin-top: 180px;
}

#club-info h1{
    font-family:'Cairo', sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
}

#club-info p{
    font-family: 'Mohave', sans-serif;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 25px;
    letter-spacing: 2px;
}

#club-info hr{
    border-bottom: 1px solid lightgray;
    width: auto;
    margin-top: 5px;
}

/* page-links */

#page-links{
    width:100%;
    height:600px;
    display: inline-flex;
    margin-bottom: 400px;
    
}

#classes-link{
    width:33%;
    float: left;
    clear: both;
    height:500px;
    text-align: center;
    letter-spacing: 2px;
}

#timetable-link{
    width:33%;
    float: center;
    clear: both;
    height:500px;
    text-align: center;
    letter-spacing: 2px;
}

#contact-us-link{
    width: 33%;
    float: right;
    clear: both;
    height:500px;
    text-align: center;
    letter-spacing: 2px;
}

#page-links img{
    height: 500px;
    width:95%;
    border-radius: 30px;
}

#page-links a{
    text-decoration: none;
    color: black;
    font-family: 'Mohave', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
}

#page-links a:hover{
    border-bottom: 1px solid black;
    color: lightslategray;
}


/* footer */

footer{
    height: 50px;
}

.social-media{
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i{
    font-size: 40px;
    color: black;
    padding: 15px;
    margin-bottom: 20px;
}

.social-media i:hover{
    border-bottom: 1px solid black;
    color: lightslategray;
}


